__pycache__
.venv
documents
dummy
test_util
txt_oss_init_1
.env
editor.txt
dokuprime_chat.zip
.python-version
buat_donlod.py
dokuprime_chat.zip
ingest_greetings.py
chainlit.py
debug_bm25.py
debug_vectors.py
coba_sanitize.py
rerank_history.txt
rerank_history2.txt
rerank_history3.txt
rerank_history4.txt
mmr_search.py
.sonar